<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <label for="inputTerm">Search for track</label>
        <form th:action="@{/search}" method="get" action="#">
            <input type="text" id="inputTerm" name="term" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <section>
        <div>
            <ul label="Tracks">
                <h2>TRACKS</h2>
                <li th:each="track:${tracks}" th:text="${track}"></li>
            </ul>
        </div>
        <div>
            <ul label="Artists">
                <h2>ARTISTS</h2>
                <li th:each="artist:${artists}" th:text="${artist}"></li>
            </ul>
        </div>
        <div>
            <ul label="Genres">
                <h2>GENRES</h2>
                <li th:each="genre:${genres}" th:text="${genre}"></li>
            </ul>
        </div>
    </section>
<body/>
<html/>
