<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>
                    TRACK
                </th>
                <th>
                    ARTIST
                </th>
                <th>
                    ALBUM
                </th>
                <th>
                    GENRE
                </th>
            </tr>
            <tr th:each="track:${trackInfo}">
                <td th:text="${track.getTrackName()}"></td>
                <td th:text="${track.getArtist()}"></td>
                <td th:text="${track.getAlbum()}"></td>
                <td th:text="${track.getGenre()}"></td>
            </tr>
        </table>
    </div>
</body>